$backgroundColor: rgb(209, 155, 235);
$font-stack:    'Abhaya Libre', serif;
$font-color: black;


// @import "./Components/home.scss";


body {
background: $backgroundColor;
font: $font-stack;

}

h1{
  color: $font-color;
  font-weight: 500; 
} 

h5{
    background-image: linear-gradient(45deg, #28222e, #d5ced8);
    background-size: 100%;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: xx-large;
    font-weight: 600;
      
}