


$backgroundColor: rgb(217, 196, 226);
$font-stack:    'Abhaya Libre', serif;
$font-color: black;




body {
background: $backgroundColor;
font: $font-stack;

}

h1{
  color: $font-color;
  font-weight: 700; 
  font-size: xx-large;
  font: $font-stack;

} 

h5{
    font: $font-stack;
    background-image: linear-gradient(45deg, #28222e, #d5ced8);
    background-size: 100%;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: xx-large;
    font-weight: 600;
      
}

h6{
    color: $font-color;
    font-weight: 700; 
    font-size: large;
    font: $font-stack;
}